<!DOCTYPE html>
<html lang="en">
<head>
  <title>MOVIE THEATERS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>MOVIE THEATER </h2>
  <p>This is for movie halls details</p>

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#menu1">MOVIE THEATERS</a></li>
    <li><a data-toggle="tab" href="#menu2">PEOPLES</a></li>
    <li><a data-toggle="tab" href="#menu3">ENQUIRY</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade">
      <h3>MOVIE THEATER</h3>
      <p>this page is for people movietheaters</p> 
    </div>
      
    <div id="menu2" class="tab-pane fade">
      <h3>PEOPLES</h3>
      <p>this page is for peoples </p>
    </div>

    <div id="menu3" class="tab-pane fade">
      <h3>ENQUIRY</h3>
      <p>This page is for enquirys</p>
    </div>

</body>
</html>